.row{
    margin-bottom: 1em;
}
.wrapper{
    margin:0.5em
}
.title{
    margin-bottom: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.content{
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}

.date{
    margin: 1em 0;
    font-weight: 600;
}

.card-body{
    margin: 0 1em;
    padding-top: 0.8em;
}

.table-wrapper{
    margin: 2em 0;
    font-family: 'Open Sans', sans-serif;
}